@tailwind base;
@tailwind components;
@tailwind utilities;
/* font */
html{
  font-family: "MiSans VF", "MiSans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0E0E0E;
}

.navbar-menu:checked ~ label .navbar-menu-arrow {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(180deg) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

  --tw-translate-y: -0.75px;
	transform: translate(var(--tw-translate-x), -0.5px) rotate(var(--tw-rotate))
		skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
		scaleY(var(--tw-scale-y));
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.navbar-menu\:block {
  height: 0; /* 初始高度为 0 */
  overflow: hidden; /* 防止内容溢出 */
  opacity: 0; /* 初始透明度为 0 */
}
 
.navbar-menu\:block.visible {
  height: calc(100vh - 4rem); /* 目标高度 */
  opacity: 1; /* 完全不透明 */
  background-color: #1e2939;
}

.navbar-menu\:nav.visible {
  background-color: #1e2939;
}

.grid-images{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(420px, 100%), 1fr));
}